@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "pelatform-ui/css";

/** Theme and custom color styles **/
:root {
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;

  --primary: oklch(0.782 0.106 167.126);
}

.dark {
  --primary: oklch(0.782 0.106 167.126);
}

@theme inline {
  --font-display: "Satoshi", "system-ui", "sans-serif";
}

#nd-subnav {
  @apply bg-transparent;
}

header &[data-search-full] {
  @apply rounded-xl;
}

[data-header-tabs],
[data-header-body] {
  @apply border-none;
}

#nd-page {
  @apply @container;
}
